.gameBoard {
    display: flex;
    flex-wrap: wrap;
    min-height: 10px;
    margin: 0px auto;
    margin-top: 50px;
    justify-content: space-around;
}
.gameBoard > div.charCard {
    min-height: 150px;
    float: left;
    background:pink;
    position: center;
    margin-right: calc((100% - 300px) / 5 - 1px);
}
